<h1>Write a poem for <%= @user.phone %> about <%= @user.prompt %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.text_area :bid %>
<br />
      <%= f.submit "Send Poem", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>