<h1>Write a poem for <%= @user.phone %> about <%= @user.prompt %></h1>
<%= render 'shared/error_messages' %>


    <%= form_for(@user) do |f| %>

      <%= f.text_area :bid %>
<br />
      <%= f.submit "Send Poem", class: "btn btn-large btn-primary" %>
    <% end %>
