    <p class="lead">Fresh, homemade poems delivered to your phone.</p>    
         <%= form_for(@user) do |f| %>
             <%= render 'shared/error_messages' %>

             <%= f.label :phone %>
             <%= f.text_field :phone, :placeholder => "(###) ### - ####" %>
             <br />
             <br />
             <%= f.label :prompt %>
             <%= f.text_field :prompt, :placeholder => "a red wheelbarrow" %>
       <br />
       <br />
             <%= f.submit "Text Me a Poem!", :class => "btn btn-large btn-primary" %>      
           <% end %>