<!DOCTYPE html>
<head>
</head>
<body>
<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :phone %>
      <%= f.text_field :phone %>

      <%= f.label :prompt %>
      <%= f.text_field :prompt %>

      <%= f.label :bid %>
      <%= f.text_field :bid %>
<br />
<br />
      <%= f.submit "Text Me a Poem!", class: "btn btn-large btn-primary"%>      
      
    <% end %>
  </div>
</div>
<script type="text/javascript" src="https://www.dwolla.com/scripts/button.min.js"> </script>
</body>
</html>
