<table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Phone Number</th>
                  <th>Prompt</th>
                  <th>Poem Status</th>
                </tr>
              </thead>
              <tbody>
                <% @user.each do |i| %>
                <tr>
                  <td><%= i.id %></td>
                  <td><%= i.phone %></td>
                  <td><%= i.prompt %></td>
                  <% if i.bid == nil%>
                  <td class="text-warning">Needs Poem. <a href="/users/<%=i.id%>/edit">Write it</a></td>
                  <% else %>
                  <td class="text-success">Poem Done. <a href="/users/<%=i.id%>/edit">View it</a></td>
                  <% end %>
                </tr>
                <% end %>
                <tr>
              </tbody>
</table>